.address-detail {
  margin-top: 12px;
}

.class1 {
  color: black !important;
  padding-top: 100px;
}

.icon-sharink {
  width: 70px;
  height: 90px;
}

.icon-sharink2 {
  width: 90px;
  height: 90px;
}

.left-border {
  border-left: 6px solid #45959f;
}

.buttom-padding {
  padding-bottom: 230px !important;
}

.nav-item a:hover {
  color: #45959f !important;
}

.vis1 {
  display: none;
}

.vis1 {
  @media (max-width:991px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position:initial;
    bottom: 30px;
    padding-top: 40px;
  }
}

.side-logo {
  display: none;
}
.side-logo{
  @media (max-width:991px) {
    display: block;
    padding: 24px 16px;
  }
}
.nav-call{
  display:flex;
}
.nav-call{
  @media (max-width:991px) {
    display: none;
  }
}
